actionlib==1.14.0
angles==1.9.13
asgiref==3.7.2
attrs==23.1.0
Automat==22.10.0
backports.zoneinfo==0.2.1
black==23.9.1
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
constantly==15.1.0
controller-manager==0.19.6
controller-manager-msgs==0.19.6
cryptography==41.0.4
cssselect==1.2.0
cv-bridge==1.16.2
dateparser==1.1.8
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
Django==4.2.5
django-cors-headers==4.2.0
django-extensions==3.2.3
django-filter==23.3
djangorestframework==3.14.0
dynamic-reconfigure==1.7.3
filelock==3.12.4
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
hyperlink==21.0.0
idna==3.4
image-geometry==1.16.2
incremental==22.10.0
interactive-markers==1.12.0
itemadapter==0.8.0
itemloaders==1.1.0
jmespath==1.0.1
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
json5==0.9.14
laser-geometry==1.6.7
lxml==4.9.3
message-filters==1.15.15
mypy-extensions==1.0.0
packaging==23.1
parsel==1.8.1
pathspec==0.11.2
platformdirs==3.10.0
Protego==0.3.0
psycopg2==2.9.8
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-qt-binding==0.4.4
pytz==2023.3.post1
queuelib==1.6.2
regex==2023.8.8
requests==2.31.0
requests-file==1.5.1
resource-retriever==1.12.7
rosbag==1.15.15
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.15
roslaunch==1.15.15
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.15
rosmake==1.15.8
rosmaster==1.15.15
rosmsg==1.15.15
rosnode==1.15.15
rosparam==1.15.15
rospy==1.15.15
rosservice==1.15.15
rostest==1.15.15
rostopic==1.15.15
rosunit==1.15.8
roswtf==1.15.15
rviz==1.14.19
scrapeops-scrapy==0.5.3
scrapeops-scrapy-proxy-sdk==1.0
Scrapy==2.11.0
sensor-msgs==1.13.1
service-identity==23.1.0
six==1.16.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sqlparse==0.4.4
tld==0.13
tldextract==3.6.0
tomli==2.0.1
topic-tools==1.15.15
Twisted==22.10.0
typing-extensions==4.8.0
tzlocal==5.0.1
urllib3==2.0.5
w3lib==2.1.2
xacro==1.14.14
zope.interface==6.0
